@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

nav{
  font-family: 'Manrope', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}

.separarLogo{
  margin-left: 2rem;
}

.format{
  width: 350px;
  padding: 1rem;
}
.espaciarMenu{
  padding: 2rem 0;
  margin: 2rem 1rem;
  line-height: 1rem;
}

.format li{
  padding: 12px 0;
}

.format a{
  text-decoration: none;
  color: black;
}
.format a:hover{
  color: #003566;
  font-weight: bold;
}


/*pie de pagina*/
.pie{
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 4rem;
  padding-top: 3rem;
}

.titulopie{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.footerIframe{
	width: 100% !important;
	height: 264px;
	margin-bottom: -10px;
}

#fondopie{
	background-color: #003566;
}

#fondopie a:link {
	text-decoration: none;
}
.footer{
    min-height: 500px;
}


.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1rem;
    color: white;
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.iconos-redes-sociales a{
    width: 45px;
    height: 45px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
}


.iconos-redes-sociales i{
    color: white;
    font-size: 1.6rem;
    transition: all 0.3s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid #000000;
}

.iconos-redes-sociales a:hover i{
    color: black;
}

.iconos-redes-sociales a:link{
  text-decoration: none;
}

.textoPieDerecho{
  font-size: 11px;
  margin-top: -15px;
}

.sepataTexto{
  margin-left: 12px;
}
.ajusteing{
  display: flex;
}


/*Enunciado*/
.enunciaTexto{
  font-size: 55px;
  font-weight: 800;
}
.enunciadoTextoDos{
  font-size: 18px;
  margin-top: -18px;

}
.enunciadoTextTres{
  font-weight: bold;
  margin-top: -15px;
}

.estiloEnunciado{
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.moldear{
  color: #06c000;
  font-size: 4rem;
}

.whatss:link{
  text-decoration: none;
}

.espaciarTexto{
  padding-top: 16px;
  margin-left: 20px;
  font-weight: bold;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.enlaceText a:link{
  text-decoration: none;
}

.enlaceText a{
  color: #ffffff;
}

.enlaceText a:hover{
  font-size: 14px;
}


/*contactar*/
.contactar{
  font-size: 25px;
  font-weight: 800;
  line-height: normal;
  color: white;
}

.concatacnos{
  padding: 5rem 0;
  background-image: url(./Resources/gota.png);
  background-repeat: repeat-x;
}

/*whatsapp*/
.float{
	position: fixed;
	width:55px;
	height:55px;
    /*para mover en el plano*/
	bottom:15px;
	right:15px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:35px;
  z-index:80;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:5px;
}

/*sobre nosotros*/
.tituloAcerca{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.lineaAzulSobre{
  width: 75px;
  height: 5px;
  background-color: #003cbe;
  margin: 0px 0px;
}

.fondoAcerca{
  background-color: #f8f8f8;
}

.fondoAcerca2{
  background-color: #fff;
}

.tarjetasAcerca:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.letraObjeti{
  color: #fd324f;
  font-weight: 800;
}

.contedoObjeto{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetasAcerca{
  height: 13rem;
}

.acercaTexto{
  height: 14rem;
 }

 .acercaTexto:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textoVision{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 85);
  margin-bottom: -1px;
}
.mision{
  background-color: #fbfff2;
  padding: 2rem;
  color: #000;
  font-weight: 500;
}

.vision{
  background-color: #dff0ff;
  padding: 2rem;
  color: #000;
  font-weight: 500;
}

.valores{
  background-color: #ffebed;
  padding: 2rem;
  color: #000;
  font-weight: 500;
}

.lineaVisi{
  height: 3px;
  width: 5rem;
  margin: 0 auto;
  background-color: #003566;
}

/*login*/
.logearse {
  height: 100%;
}

.estiloLogin{
  background-color: #f1f1f1;
}

.cuerpo {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 30vh;
}

.form-signin {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*seccion socios*/
.sociosEstilo{
  border-radius: 10px;

}
.sociosContenido{
  border-radius: 15px; 
  margin: 7px;
}

.sociosContenido:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2px;
}

.alturaProducto{
  justify-content: center;
  justify-items: center;
  align-items: center;
}


.alturaProducto:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2px;
}

#enlaceProducto:link{
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
}

/*contactar*/
.espacioFooterPages{
  margin-bottom: -15px;
}



.redesSociales a{
  width: 45px;
  height: 45px;
  margin: 10px;
  border: 2px solid rgb(2, 0, 95);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
}


.redesSociales i{
  color: rgb(0, 35, 151);
  font-size: 1.6rem;
  transition: all 0.3s ease-in;
}

.redesSociales a:hover{
  background-color: rgb(2, 0, 105);
  border: 2px solid rgb(2, 0, 105);
}

.redesSociales a:hover i{
  color: rgb(255, 255, 255);
}

.redesSociales a:link{
  text-decoration: none;
}

.estiloMapa iframe{
  height: 500px;
  width: 800px;
  border: 0;
}


/*seccion inicio*/
.cajaPadre{
  position: relative;
}

.cajaHijo{
  position: absolute;
  top: 5rem;
  left: 8rem;
  right: 0;
  margin: 0 4.5rem;
  width: 70%;
}

.todasApps{
  line-height: 40px;
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgb(10, 10, 10) 1px 1px 1px, rgrgb(0, 0, 0)px 1px 1px;
}

.acumulaTexto{
  text-shadow: rgba(255,255,255) 1px 1px 1px, rgba(255,255,255) 1px 1px 5px;
}

.colorBoton{
  background-color: black;
  color: white;
}

.colorBoton:hover {
  background: #00213b;
  color: white;
}

.formaBoton{
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 0.9rem 0.9rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.centarContenido{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  
}
.barraCeleste{
  box-sizing: border-box;
  display:inline-block;

  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 2.2rem solid #009fe3;
}

.barraCeleste2{
  box-sizing: border-box;
  display:inline-block;

  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 5rem solid #009fe3;
}

.espacioEntre{
  margin: -2.8rem auto;
  padding: 0px 8vw;
  font-size: 32px;
}
.espacioEntre2{
  margin: -5rem auto;
  padding: 0px 8vw;
  font-size: 28px;
  line-height: normal;
}

.izquiTar{
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.dereTar{
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.tarjetaProducto{
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.fondoBeige{
  background-color: rgb(248,248,248);
}

.modificarEspacio{
  margin-right: 10rem;
}

.tarjetaTiene{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  border-radius: 10px;
  margin: 10px 2px;
}

.textoGrande{
  font-size: 30px;
  text-align: center;
  font-weight: 1000;
  color: red;
  line-height: normal;
}

.disenoTarje{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px 2px;
  padding: 1rem;
  border-radius: 10px;
}
.cajaCir{
  margin: 0 auto;
}
.cajaCirHijo{
  display: flex;
  justify-content: center;
}
.circulos{
  background-color: grey;
  border-radius: 50%;
  padding: 0.6rem;
  width: 1rem;
  margin: 0.5rem;
}

.alinearTextoHidro{
  text-align: start;
}

.animarBotonDescargar{
  font-weight: bold;
  background-color: #000000;
  transition: all 0.1s ease-in;
}

.continuarLeye{
  margin-top: -1.5rem;
  margin-bottom: 0px;
}
#masInfor{
  margin-top: -24px;
}

/*monedas*/

.fondoBeigeDos{
  background-color: #e6e6e6;
}
.estiloTarjetaMonedas{
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: #3a3a3a;
}

.estiloTarjetaMonedas2{
  background-color: #070707;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.estiloTarjetaMonedas:hover{
  zoom: 103%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.estiloTarjetaMonedas2:hover{
  zoom: 103%;
  box-shadow: rgba(0, 1, 65, 0.4) 0px 5px 15px;
}
.cajaGris{
  background: rgb(19, 19, 19);
  background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rrgb(58, 58, 58)54%, rgb(82, 82, 82) 100%);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 5rem;
  height: 17rem;
}

.CajaCompras{
  background-color: #17aae9;
  margin-top: 2.5rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.CajaCompras:hover{
  box-shadow: rgba(1, 0, 24, 0.4) 0px 2px 4px 0px, rgba(1, 0, 24, 0.5) 0px 2px 16px 0px;
}

.CajaComprasHijo{
  padding-top: 1rem;
  display: flex;
}

.fondoCajaHidro{
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.fondoCajaHidro:hover{
  box-shadow: rgba(1, 0, 24, 0.4) 0px 2px 4px 0px, rgba(1, 0, 24, 0.5) 0px 2px 16px 0px;
}

.cajaCircular{
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
}

.cajaCircular:hover{
  box-shadow: rgba(1, 0, 24, 0.4) 0px 2px 4px 0px, rgba(1, 0, 24, 0.5) 0px 2px 16px 0px;
}

.fondoColorCeleste{
  background-color: #2368ff;
  padding-bottom: 1rem;
  margin-bottom: -3rem;
}

.espacioApp{
  padding-top: 14rem;
  color: #ffffff;
  font-weight: 600;
}

.altura-Img{
  height: 600px;
}


/*seccion puntos*/
.ajustarTextoBanerPuntos{
  font-size: 25px;
  line-height: normal;
  text-shadow: 1px 1px 4px black, 0 0 1em rgb(0, 0, 95), 0 0 0.2em rgb(0, 0, 95);
  font-weight: 800;
}

.ajustarTextoBanerPuntos2{
  font-size: 20px;
  line-height: normal;
  text-shadow: 1px 1px 4px black, 0 0 1em rgb(0, 0, 95), 0 0 0.2em rgb(0, 0, 95);
  font-weight: 800;
}


.asignarTamanio{
  padding-left: 25rem;
  padding-right: 25rem;
}

.margenBoton{
  margin-left: -7rem;
}

.botoneRegistro a:hover{
  background-color: #000;
  color: white;
  border: none;
}

.ajustarPregunta{
  text-align: center;
  margin-top: -10rem;
  font-weight: 800;
  font-size: 32px;
  padding-bottom: 5rem;
}
.fondoLlamada{
  background-color: #efefef;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-sizing: content-box;
}

.accordion-button:hover{
  background-color: #003566;
  color: white;
  font-weight: bold;
}

.fondoCelesteDemo{
  margin-top: -15px;
  background-color: #003cbe;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.fondoAzulHidro{
  background-color:  #003cbe;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.espacioBaner{
  padding-top: 5rem;
}

.justificarTexto{
  text-align: justify;
}

.centarContenidoIcono{
  align-self: center;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
/*MEDIA QUERYS*/

@media screen and (min-width: 900px) {
  .espacioTarjeta{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


@media screen and (max-width: 992px) {

  .ajustarPregunta{
    margin-top: -4rem;
    font-weight: 800;
    font-size: 20px;
  }

  .espacioBaner{
    padding-top: 0rem;
    margin-top: -1rem;
  }

  .todasApps{
    padding-top: 0rem;
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: normal;
    font-weight: 700;
    text-align: center;
    text-shadow: rgb(10, 10, 10) 1px 1px 1px, rgrgb(0, 0, 0)px 1px 1px;
  }

  .acumulaTexto{
    line-height: normal;
    text-align: center;
    text-shadow: rgb(10, 10, 10) 1px 1px 1px, rgrgb(0, 0, 0)px 1px 1px;
  }
  .acercaTexto{
   height: 19rem;
  }
  .tarjetasAcerca{
    height: 19rem;
  }

  .cajaGris{
    height: 33rem;
  }
  .CajaCompras{
    margin-top: 1rem;
  }
  .ajustarTextoBanerPuntos{
    font-size: 20px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 75), 0 0 0.2em rgb(0, 0, 61);
    font-weight: 800;
  }
  
  .ajustarTextoBanerPuntos2{
    font-size: 15px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 75), 0 0 0.2em rgb(0, 0, 61);
    font-weight: 800;
  }
  
  .espacioApp{
    padding-top: 1rem;
  }
  .fondoColorCeleste{
    text-align: center;
  }

  .asignarTamanio{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .margenBoton{
    margin-left: -3rem;
  }

  .separarLogo{
    margin-left: 0.5rem;
  }
  
}

@media screen and (max-width: 902px) {
  .acercaTexto{
   height: 20rem;
  }
  .tarjetasAcerca{
    height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .acercaTexto{
   height: 18rem;
  }
  .tarjetasAcerca{
    height: 13rem;
  }
  .cajaGris{
    margin-top: -3rem;
    height: 33rem;
  }
}

@media screen and (max-width: 899px){
  .cajaHijo{
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 0;
    margin: 0 4rem;
  }
}


@media screen and (max-width: 600px){
  .cajaHijo{
    position: absolute;
    top: 3rem;
    left: 5px;
    right: 0;
    margin: 0 4rem;
  }

  .espacioEntre{
    margin: -2.4rem auto;
    font-size: 25px;
  }

  .espacioEntre2{
    margin: -4.5rem auto;
    padding: 0px 8vw;
    font-size: 20px;
  }
  .tarjetaProducto{
    margin: 1rem;
  }

  .modificarEspacio{
    margin-right: 0rem;
  }
  .alinearTextoHidro{
    text-align: center;
  }
  .float{
    width:50px;
    height:50px;
    bottom:15px;
    right:15px;
    font-size:35px;
    z-index:10;
  }

  .my-float{
    margin-top:5px;
  }
  
}
